.sidebar {
    width: 85px; background: #0a0a0a; display: flex; 
    flex-direction: column; align-items: center; 
    padding-top: 25px; border-right: 1px solid #222; z-index: 10;
}
.nav-item { 
    margin-bottom: 35px; cursor: pointer; text-align: center;
    transition: 0.3s; width: 100%;
}
.nav-item img { 
    width: 32px; height: 32px; filter: grayscale(100%); 
    transition: 0.3s; margin-bottom: 5px;
}
.nav-item:hover img { filter: grayscale(0%); transform: scale(1.1); }
.nav-item span { 
    display: block; font-size: 9px; color: #555; 
    text-transform: uppercase; font-weight: bold;
}
.nav-item:hover span { color: #ffff00; }
